version: '3'

services:
  website:
    build: .
    container_name: cedrictech-website
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
    restart: always